<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="!#"><strong>Kipyegon Kirui Vitalis</strong></a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <!-- Left links -->

            <div class="d-flex align-items-center mt-2">
                <ul>
                    <li class="navbar-nav">
                        <a class="nav-link" href="!#">Home</a>
                        <a class="nav-link" href="#aboutme">About Me</a>
                        <a class="nav-link" href="#skills">Skills</a>
                        <a class="nav-link" href="#developmentprocess">Development Process</a>
                        <a class="nav-link" href="#projects">Projects</a>
                        <a class="nav-link" href="#contactme">Contact Me</a>
                    </li>
                </ul>

            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<!-- Body code -->
<div class="container-fluid">

    <div class="row  pt-5 my-3" id="aboutme">
        <div class="heading text-center">
            <h1 class="text-success"><strong>About Me</strong></h1>
            <p>
                I am Vitalis, <span><strong>Kipyegon Kirui Vitalis</strong></span>. I am a <strong>Frontend developer |
                    Full-Stack Software developer | UI~UX Designer.
                </strong>
            </p>
        </div>

        <!-- Software Development code -->

        <div class="col-md-4 mx-auto">
            <h5 class="text-center text-success"><strong>Software Development</strong></h5>
            <hr>
            <p>
                A Full-Stack software developer, not a Pro yet, but getting the hang of it.
                My favorite choice of stack is <span class="text-success"><strong>MEAN Stack.</strong> </span> At least
                as of
                now because this is actually the stack that I have tried to specialize on. I am not encrypting myself
                within this stack only, I am also into <strong>Python | Django</strong> and several other technologies.
                As it stands, most of the projects I am working on are within this stack and I am liking with it can do.
            </p>
        </div>

        <!-- UI | UX Designer -->
        <div class="col-md-4 mx-auto">
            <h5 class="text-center text-success"><strong>UI | UX Design</strong></h5>
            <hr>
            <p>
                I am also <span class="text-success"><strong>UI | UX Designer.</strong></span> I feel I must mention
                this
                because I have really grown passion out of it. Before starting software development, I used to work a
                lot
                with <strong>Adobe Photoshop</strong> and the moment I learn about <span class="text-success"><strong>
                        Figma, </strong></span>I couldn't help it. So this is a field I believe in myself a lot and down
                this site,
                I have a section for my Figma designs.
            </p>

        </div>

        <div class="col-md-4 mx-auto">
            <h5 class="text-center text-success"><strong>Others</strong></h5>
            <hr>
            <p>
                Outside that, I also have this me in terms of <em><strong>Passions, Hobbies ...</strong></em>.I am
                a<strong>
                    Tech person </strong>, cutting across from gadgets to softwares. I am also a
                <strong>Wildlife</strong> person,
                I love wild animals and well conserved environments. Anyway, I will not be going in details here on this
                topic. I have explained
                this in details in my blog though. Under my projects, there is a <strong>My Blog</strong> site, feel
                free to go explore.
            </p>
        </div>

    </div>

    <!--  -->

    <div class="row my-4 pt-5" id="skills">

        <div class="heading text-center">
            <h1 class="text-success"><strong>Educational Background and Skills</strong></h1>
        </div>

        <!-- Educational background -->
        <div class="col-md-9 mx-auto pt-2">
            <div class="text-center">
                <h3><strong>Educational Background</strong></h3>
                <hr>
            </div>

            <ul>
                <li><strong><span class="text-success">Informational Communication Technology</span></strong></li>
                <p>
                    <strong>2016 - 2018</strong>
                </p>
                <p>
                    I took a degree course in ICT, Laikipia University. You must be wondering
                    in 2 years? no, I didn't manage to study past my 2nd year due to financial issues.
                </p>

                <!-- Moringa -->
                <li><strong><span class="text-success">Moringa School | Software Engineering</span></strong></li>
                <p>
                    <strong>May 2021 - December 2021</strong>
                </p>
                <p>
                    After my degree course scattered, I always had an open eye on any academic
                    opportunities and lucky enough, I got accepted to a 6 month certificate scolarship course
                    at <strong>Moringa School.</strong>
                </p>
                <p>
                    These are technologies I learn at this program,
                </p>
                <ol class="text-success">
                    <li><strong>HTML | CSS</strong></li>
                    <li><strong>Flask</strong></li>
                    <li><strong>Python</strong></li>
                    <li><strong>Angular</strong></li>
                    <li><strong>Django</strong></li>
                </ol>
            </ul>

        </div>

        <!-- Skills -->
        <div class="col-md-6 mx-auto pt-5">

            <div class="heading text-center">
                <h3><strong>Skills</strong></h3>
            </div>

            <div class="skillset">
                <h5><strong>Angular</strong></h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 85%;"
                        aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <h5 class="pt-4"><strong>Mongo DB</strong></h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 75%;"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <h5 class="pt-4"><strong>Node Js</strong></h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 80%;"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <h5 class="pt-4"><strong>Express Server</strong></h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%;"
                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <h5 class="pt-4"><strong>Django | Python</strong></h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 60%;"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <!-- <h5 class="pt-4"><strong>Django | Python</strong></h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 65%;" aria-valuenow="10"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div> -->

                <h5 class="pt-4"><strong>Figma Design</strong></h5>
                <div class="progress mb-3">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 90%;"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

        </div>

        <!-- Technologies -->
        <div class="col-md-5 mx-auto pt-5">

            <div class="heading text-center">
                <h3><strong>Technologies special mention</strong></h3>
            </div>

            <div class="technologies">

                <ul>
                    <li class="text-success"><strong>Angular</strong></li>
                    <p>
                        This is like a shout out to <strong>Angular</strong>, I wanted to do this
                        because I am well aware of <strong>React | Vue </strong> trends out there. These are
                        technologies that I am also learning but I really believe in Angular. As it stands, it's my
                        favorite.
                    </p>

                    <li class="text-success"><strong>MEAN Stack </strong></li>
                    <p>
                        I have worked with Python for backend purposes in some projects but I find this
                        stack combination easy to understand and implement. So in projects that doesn't
                        demand otherwise, I would always choose to work with this.
                    </p>

                </ul>
            </div>

        </div>

    </div>

    <!-- Development process -->
    <div class="row my-5 development" id="developmentprocess">

        <div class="heading text-center">
            <h1 class="text-success"><strong>My Development Proccess</strong></h1>
            <p>
                First of all, <span class="text-success"><strong>I strongly believe in CLEAN code. </strong></span> I
                hate copying
                a code even if it's from my own code from another project. I believe in typing every bit of it except
                some
                Bootstrap snippets and rare circumstances. One can only achieve a clean code if he/she got a plan before
                creating a folder in their computer for the project. These are my basics development steps for my
                projects.
            </p>
        </div>

        <!-- Project birth -->
        <div class="col-md-4 mx-auto text-center">

            <h3 class="text-success"><strong>01 : Project Birth</strong></h3>
            <hr>
            <p>
                This is the phase that the projects idea kicks in. A lot of this phase happens in mind and a
                piece of paper. Personally writing something down in paper solve half of the challenge.So
                I take time and write key components of the idea.
            </p>
            <p>
                I always make sure of exploiting all the features of the project even those I don't know
                how to implement yet. Doing this have always prove helpful especially when it comes to generating
                component structures.
            </p>

        </div>

        <!-- Design -->
        <div class="col-md-4 mx-auto text-center">

            <h3 class="text-success"><strong>02 : UI Design</strong></h3>
            <hr>
            <p>
                <span class="text-success"><strong>Figma</strong></span> it is. After having the entire project skeleton
                in plain
                english on a paper, I always head to my favorite design software, Figma.
            </p>
            <p>
                I take my time here, but it also depends on the size of the project. This very crucial step as it
                predicts a lot
                on the number of components you will need, the kind of service the project will need. I believe having
                the design rigth and realistic if having the real software in advance. I saying so because all that
                remains
                after this step is converting the plain english from step one, and using this desgn structure to code.
            </p>

        </div>

        <!-- Actual coding -->
        <div class="col-md-4 text-center">

            <h3 class="text-success"><strong>03 : Coding</strong></h3>
            <hr>
            <p>
                This is the actual coding phase. And with the right design, this phase get a lot easier to implement. I
                always
                take my time, implement piece after piece strictly according to the design becuase if you start having
                ideas
                at this point, then there was not need for the design.
            </p>
            <p>
                What's important here is that, implementing page after page or from one functionality to the next. After
                each,
                polish it to design standard and run neccessary test before going to the next.
            </p>

        </div>

        <!-- Deployment and Maintainance -->
        <div class="col-md-8 mx-auto my-3">

            <h3 class="text-success"><strong>04 : Polishing | Tests | Deployment | Maintainance</strong></h3>
            <hr>
            <p>
                After the actual coding of all the components and functionalities, I always run tests like
                responsiveness, endpoints, routes, etc.
                When everything is in place, deployment phase takes action. After that is making sure all
                functionalities are working
                as expected. From there, all there is is maintainance and updates where necessary.
            </p>

        </div>

    </div>

    <!-- Projects -->
    <div class="row my-5" id="projects">

        <div class="text-center">
            <h1 class="text-success"><strong>Projects and Designs</strong></h1>
            <hr>
        </div>

        <div class="text-center pt-3 pb-5">
            <h1 class="text-success"><strong>Projects</strong></h1>
            <hr>
        </div>

        <!-- Projects section -->
        <!-- Kipsigis Oasis Sanctuary -->
        <div class="col-md-4 mx-auto">

            <div class="text-center">
                <h4 class="text-primary"><strong>Kipsigis Oasis Sanctuary | Frontend</strong></h4>
                <hr>
            </div>

            <img src="assets/images/Sanctuary UI.png" alt="Sanctuary UI" width="100%" height="auto">

            <h3 class="pt-3 text-primary technology"><strong>Angular</strong></h3>

            <p>
                <strong>This is a client site, a wildlife conservation entity. This is basically a static website
                    meant to provide a guide to users who haven't been to the site.
                </strong>
            </p>

            <!-- Buttons -->
            <div class="text-center">
                <a href="">
                    <button class="btn btn-primary m-3">Live Site</button>
                </a>
                <a href="">
                    <button class="btn btn-info m-3">Github</button>
                </a>
            </div>

        </div>

        <!-- My Blog -->
        <div class="col-md-4 mx-auto">

            <div class="text-center">
                <h4 class="text-primary"><strong>My Blog | Frontend</strong></h4>
                <hr>
            </div>

            <img src="assets/images/Blog UI.png" alt="Blog UI" width="100%" height="auto">

            <h3 class="pt-3 text-primary technology"><strong>Angular</strong></h3>

            <p>
                <strong>This is my personal blog frontend part of it. It's site where I create post
                    and users interact with them. It has comment feature, users can suggest a blog post and more.
                </strong>
            </p>

            <!-- Buttons -->
            <div class="text-center">
                <a href="">
                    <button class="btn btn-primary m-3">Live Site</button>
                </a>
                <a href="">
                    <button class="btn btn-info m-3">Github</button>
                </a>
            </div>

        </div>

        <!-- Sanctaury Admin -->
        <div class="col-md-4 mx-auto">

            <div class="text-center">
                <h4 class="text-primary"><strong>Kipsigis Oasis Sanctuary Admin panel | Frontend</strong></h4>
                <hr>
            </div>

            <img src="assets/images/Sanctuary Admin.png" alt="Sanctuary Admin" width="100%" height="auto">

            <h3 class="pt-3 text-primary technology"><strong>Angular</strong></h3>

            <p>
                <strong>This is part of project number on this list. It's the admin panel where admin has full access
                    and
                    privileges on messages sent by users, reviews from user and even users list.
                </strong>
            </p>

            <!-- Buttons -->
            <div class="text-center">
                <button class="btn btn-primary m-3" disabled>Live Site</button>
                <a href="">
                    <button class="btn btn-info m-3">Github</button>
                </a>
            </div>

        </div>

        <!-- My blog admin -->
        <div class="col-md-4 mx-auto">

            <div class="text-center">
                <h4 class="text-primary"><strong>My Blog admin panel | Frontend</strong></h4>
                <hr>
            </div>

            <img src="assets/images/Blog Admin.png" alt="Blog admin UI" width="100%" height="auto">

            <h3 class="pt-3 text-primary technology"><strong>Angular</strong></h3>

            <p>
                <strong>This is frontend admin panel for my blog website. This is where I manage anything on the site
                    including getting blog suggestion, posting blogs, access to users list, archiving blogs and more.
                </strong>
            </p>

            <!-- Buttons -->
            <div class="text-center">
                <button class="btn btn-primary m-3" disabled>Live Site</button>
                <a href="">
                    <button class="btn btn-info m-3">Github</button>
                </a>
            </div>

        </div>

        <!-- Sanctaury Backend -->
        <div class="col-md-4 mx-auto">

            <div class="text-center">
                <h4 class="text-primary"><strong>Kipsigis Oasis Sanctuary | Backend</strong></h4>
                <hr>
            </div>

            <img src="assets/images/Sanctuary Messages Admin.png" alt="Sanctuary API" width="100%" height="auto">

            <h3 class="pt-3 text-primary technology"><strong>Node Js | Express | MongoDB</strong></h3>

            <p>
                <strong>This is backend documentation of the first project. And some endpoints are
                    critical to the site and can bring severe effects on my client site, I will only grant access to
                    verified potention employer. Contact me for access with provided details in contact me section.
                </strong>
            </p>

            <!-- Buttons -->
            <div class="text-center">
                <button class="btn btn-primary m-3" disabled>Live Site</button>
                <a href="">
                    <button class="btn btn-info m-3">Github</button>
                </a>
            </div>

        </div>

        <!-- My Blog Backend -->
        <div class="col-md-4 mx-auto">

            <div class="text-center">
                <h4 class="text-primary"><strong>My Blog | Backend</strong></h4>
                <hr>
            </div>

            <img src="assets/images/Sanctuary Structures.png" alt="Sanctuary API" width="100%" height="auto">

            <h3 class="pt-3 text-primary technology"><strong>Node Js | Express | MongoDB</strong></h3>

            <p>
                <strong>This is backend documentation of my blog project. And to access this documentation
                    I got to verify who you are. Contact me with details in contact me section.
                </strong>
            </p>

            <!-- Buttons -->
            <div class="text-center">
                <button class="btn btn-primary m-3" disabled>Live Site</button>
                <a href="">
                    <button class="btn btn-info m-3">Github</button>
                </a>
            </div>

        </div>

        <!-- Figma Design section -->

        <div class="text-center pt-5 pb-3">
            <h1 class="text-success"><strong>Designs</strong></h1>
            <hr>
        </div>

    </div>

    <!-- Contact Me -->
    <div class="row my-5" id="contactme">

        <div class="col-md-9 mx-auto text-center">
            <h1 class="text-success"><strong>Contact Me</strong></h1>
            <hr>
            <p>
                I would have created a form but this site doesn't have a backend. So, I am leaving my contact details
                down here
                just in case you want to reach out for whichever reason.
            </p>
            <p>
                I am looking for opportunities though, consider hiring to be part of your development team. I am
                comfortable with
                remote or even hybrid. Thank you.
            </p>

            <hr>

            <p>
                <span class="text-success"><strong>Phone number: </strong></span> +254714856555
            </p>
            <a href="">
                <span class="text-success"><strong>Email: </strong></span> vitaliskirui1@gmail.com
            </a>

            <!-- Icons -->
            <div class="streak1 pt-3">

                <div class="flex-center flex-wrap text-center">

                    <!-- Facebook -->
                    <a type="button" class="btn-floating btn-secondary" href=""><i class="fab fa-facebook-f"></i></a>

                    <!-- Twitter -->
                    <a type="button" class="btn-floating btn-secondary" href=""><i class="fab fa-twitter"></i></a>

                    <!-- Github -->
                    <a type="button" class="btn-floating btn-secondary" href=""><i class="fab fa-github"></i></a>

                </div>

            </div>

        </div>

    </div>

</div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2022 Copyright:
        <a class="text-reset fw-bold">Kipyegon Kirui Vitalis</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->