.container-fluid{
    background-color: rgb(220, 233, 244);
    margin-top: -20px;
}

/* Buttons */
button{
    font-size: 0.8rem;
    border-radius: 0px 20px 0px 20px;
}

/* Navbar styles */
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

/* About me styles */
#aboutme{
    background-color: white;
    padding-bottom: 3%;
    border-radius: 20px;
    width: 85%;
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
}

.col-md-4{
    background-color: white;
    padding: 2%;
    box-shadow: 0px 0px 2px 0px grey;
    border-radius: 20px;
    margin-bottom: 2%;
}

/* Skills section styles */
#skills{
    background-color: white;
    width: 85%;
    margin: auto;
    border-radius: 100px 0px 100px 0px;
    /* box-shadow: 0px 0px 5px 0px grey; */
    padding-bottom: 3%;
}

.skillset{
    padding: 5%;
    padding-left: 10%;
}

.technologies{
    padding: 5%;
    padding-right: 10%;
}

.col-md-6, .col-md-5{
    /* background-color: rgb(220, 207, 236); */
    border-radius: 150px 0px 150px 0px;
    box-shadow: 0px 0px 10px 0px grey;
    margin-bottom: 2%;
}

/* Development process */
.development{
    background-color:white;
    width: 85%;
    margin: auto;
    padding: 5%;
    border-radius: 0px 150px 0px 150px;
}

.development .col-md-4, .col-md-8{
    background-color: beige;
    border-radius: 0px 100px 0px 50px;
    box-shadow: 0px 0px 2px 0px grey;
}

.col-md-8{
    padding: 2%;
    padding-left: 3%;
}

/* Contact me */
#contactme{
    background-color: white;
    padding: 2%;
}

#contactme p{
    padding-left: 10%;
    padding-right: 10%;
}

/* Projects styles */
#projects{
    background-color: white;
    padding: 2%;
    width: 85%;
    margin: auto;
    border-radius: 20px;
}

#projects hr{
    width: 50%;
    margin: auto;
}

#projects .col-md-4{
    /* background-color: aliceblue; */
    margin: 1%;
    box-shadow: 0px 0px 5px 0px;
}

#projects .col-md-4:hover {
    background-color: rgb(33, 33, 33);
    color: white;
    padding: 5%;
    /* border-radius: 0px 100px 0px 100px; */
}

#projects img{
    border-radius: 0px 40px 0px 40px;
    box-shadow: 0px 0px 0px 0px;
}

#projects img:hover{
    box-shadow: 0px 0px 20px 0px;
}

/* Design styles */
#design:hover{
    background-color: aquamarine !important;
    color: black !important;;
}